@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Inter", sans-serif;
}

.input,
.input-group,
.textarea,
.card,
.stats,
.table,
.select,
.alert,
.btn {
  @apply rounded-none;
}

.input[type="search"],
.search-identifier {
  border-radius: 0 !important;
}
.input,
.textarea,
.select,
.btn {
  @apply focus:outline-0;
}

form {
  @apply w-full;
}

input[type="text"] {
  @apply input input-sm input-bordered;
}

table > thead > tr > th:first-child {
  @apply rounded-none;
}

/* Custom CSS */
